# Ignore the bin folder that contains VEX Cortex binary files
bin/

#Ignore .sublime-workspace files (these are user-specific depending on what they have open)
*.sublime-workspace

#Ignore .swp files (these are left behind when VIM has a file open)
src/*.swp
include/*.swp
*.swp


4chainz_code.sublime-project